@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Usuario @ViewData["Usuario"]</p>

<address>
    <strong>More information: </strong> <a href="https://github.com/caiquegomesdev">CaiqueGomesDev</a>
</address>